@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      
        
* {
    /* font-family: 'Fasthand', cursive; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* HEADER */

header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 32, 56);
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 800;
}

.nav1 a {
    padding: 0 20px;
    font-weight: 500;
    font-size: 1em;
    display: inline-block;
    color: white;
    text-decoration-line: none ; 
    
}
.nav1 a:hover {
    color:#DB9203 ;
}
.nav1 {
    margin-right: 60px;
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: 35px;
    cursor: pointer; 
} 

/* SECTION */

#section {
    padding: 150px 200px 0px 200px;
    min-height: 100vh;
}

.main {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 100vh;
    justify-content: space-between;
}

#img-main1 {
    width: 100%;
    height: 100vh;
    margin: 0%;
    justify-content: end;
    }

#section h1 , h2 , .quets { font-weight: bold;}

#section h1 {
    color: #00213a;
    font-size: 3em;
    margin-bottom: 10px;
}

#section h2 { 
    color: #DB9203;
    font-size: 2em;
    margin-bottom: 20px;
}
    
#section .quets {
    color: #00213a;
    font-size: 1.5em;
    letter-spacing: 1px;
}

#section .quets span {
    color: #DB9203;
font-size: medium;
}
    
.main #section a:hover {
    color: #DB9203 ;
    transform: scale(1.1);
    transition: 0.8s ;
}

.main  #section .btn-main{
    display: inline-block;
    margin-top: 50px;
    /* margin-left: 20px; */
    background-color: #00213a;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 8px;
}

#section .ico-main i {
    font-size: 2em;
    color: #DB9203;
    margin-top: 40px;
    padding: 8px;
    /* margin-left: 20px; */
}
    
#section .ico-main i:hover {
    color:  #00213a;
    transform: scale(1.1);
    transition: 0.8s ;
}


/* SECTION2 */

.main2 {
    display: grid;
    width: 100%;
    height: 50vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh;
    justify-content: space-between;
    background-color: #00213a;   
}
.main2 .main2-img {
    width: 85%;
    height: 50vh;
   margin-left: 45px;
}

.main2 #section2 h2 {
    color: #DB9203;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;} 
    
.main2 #section2 p {
    color:  white;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    padding-right: 50px;  
}
.main2 #section2 .btn-main2 {
    display: inline-block;
    margin-top: 30px;
    margin-left: 80px;
    background-color: #DB9203;
    color:#00213a;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 8px;
}

.main2 #section2 .btn-main-2 {
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    background-color:#DB9203;
    color: #00213a;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 8px;
}

.main2 #section2 a:hover, .btn-main-2:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.8s ;
}

.main2 #section2 .btn-main-2:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.8s ;
}

/* EDUCATION */
.main3 .container3{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.main3 .container3 .education-card {
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 0 5px 35px rgba(0, 32, 56, 35%); */
    padding: 10px;
    margin: 30px;
    border: 5px solid rgba(219, 146, 3 , 0.5);
   
}


.container3 .info-card p  {
    font-size: 1em;
    color: #00213a;
} 
.info-card h3  {
    font-size: .8em;
    padding-top: 5px;
    color: rgb(0, 33, 58);
} 

/* .education-card:hover{
    transform: scale(1.1);
    transition: 0.8s;
} */
.main3 h2 {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    margin: 25px;
    color: #DB9203;
    }
.main3 .container3 .info-card {
    text-align: center;
}
.main3 img {
    width: 250px;
    height: 250px;
    border-radius: 10px;

}

/* EXPERIENCE */
.main4 {
    background-color: #00213a;
    padding: 20px;
}
.main4 .container4{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.main4 .container4 .experiance-card {
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 0 5px 35px rgba(219, 146, 3, 35%); */
    padding: 10px;
    margin: 30px;
    border: 4px solid rgb(219, 146, 3  );
}

.fa-briefcase {
    color: #00213a;
    font-size: 4em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 55px;
    }
.info-card p  {
    font-size: .8em;
    color:#00213a;
} 
.info-card h3  {
    font-size: 1em;
    color:#00213a ;
} 

.main4 h2 {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin: 25px;
    color: #DB9203;
    
    }
.main4 .container4 .info-card {
    text-align: center;
}

/* SECTION5 */
.main5 h2 {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin: 25px;
    color: #DB9203;
    }
.main5 .container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.main5 .container .project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 35px rgba(0, 32, 56, 35%);
    padding: 10px;
    margin: 30px;
   

}
.img-card img {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    border-radius: 8px;

}
.main5 .container .info-card {
    text-align: center;
}

.info-card h3 {
    color: #DB9203;
    font-weight: bold;
    font-size: 1.25em;
}
.info-card p {
    font-size: .8em;
    color: #00213a;
} 
.project-card:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
.link-project{
    text-decoration: none;
    color: #00213a;
    font-weight: bold;
    text-transform: uppercase;
}
.info-card .link-project:hover{
    transition: .8s;
    color: #DB9203;

}
/* FOOTER */
footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 55vh;
    justify-content: left;
    background-color: #00213a;
    padding: 25px;
}
.p1 {
border-right-style: solid;
border-right-color: white;
}
.foot {
    color: #DB9203;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 30px;
}
footer div a {
    color: white;
    display: inline-block;
    padding-bottom: 22px;
    padding-right: 10px;
    font-size: 2em ;
}
footer div a:hover {
    color: #DB9203;
    transform: scale(1.1);
    transition: 0.8s;
}
footer div span {
    color: white;
    font-size: large;
    font-weight: 600;
}
.input {
    padding: 8px;
    margin: 10px 0;
    background-color: #f1f1f1;
    box-sizing: border-box;
    border: 3px solid #acacac;
    border-radius: 5px;
    resize: none;}
table {
    margin-left: 20px;
     }
.input1{
    width: 100%;
}
.input2 {
     width: 100%;
}
.input3 {
    width: 100%;
    padding: 50px 8px;
    padding-left: 5px;
}
label {
    color: white;
}
button {
    padding: 10px;
    background-color: #DB9203;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: larger;
    margin-left: 30px;

}
button:hover {
    color: #00213a;
    transform: scale(1.1);
    transition: 0.7s;
}
footer .message{
 margin-top: 50px;
}
.message {
    border-left: #f1f1f1;
    border-width: 3px;
}
.vl {
    border-left: 6px solid green;
    height: 500px;
    display: inline-block;}

    @media (max-width:1023px){
        body {
            font-size: 12px;
        }
        header {
        height: 45px;
      }
       
        header .nav1 a {
            padding: 0 5px;
            font-weight: 500;
            margin: 0 0;
        }
        header .nav1{
            margin-right: 2px;
        }
        header .logo {
            margin-left: 5px;
           
        }
        .main #section {
            padding: 75px 45px 0px 45px;
            min-height:50vh;}

        .main {width: 100%;
            height: 50vh;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50vh;}

        .main #section .btn-main {
            margin-top:10px;
            font-size: 1em;
            font-weight: 500;
            padding: 8px 15px;
            border-radius: 5px;}
        #section .ico-main i {
            font-size: 1.5em;
            color: #DB9203;
            margin-top: 20px;
            padding: 4px;}
                
        #section h2 {
                    font-size: 1.5em;
                }              
        #section .quets {
                    font-size: 1em;
                }              
        #section h1 {
                    font-size: 2em;
                }              
      
        #img-main1 {
            height: 50vh;
            width: 100%;   
        } 
        
        .p1 {
            border-right-style: none; 
            border-bottom-style:solid ;
            border-bottom-color: white;}

        .main2 {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 50vh 50vh;
        justify-content: space-between;
        background-color: #00213a;   
    }
    .main2 #section2 p   {
        margin-left: 20px;
    }
        
        .main2 #section2 .btn-main2{
            margin-left: 130px;
        }
        table {
            margin-left: 0;
        }
        #section .quets span{
                font-size: 1em;
            }
            
            footer {
                padding: 10px;
            }
    }
@media (max-width:950px){
footer {
            grid-template-columns: 1fr;
            grid-template-rows: 40vh 60vh;
        }
        .foot{
            text-align: center;
        }
}
    @media (max-width:500px) {
        body {
            font-size: 10px;
        }
        header .logo{
            margin-left: 0;
            height: 50px;
            width: 50px;
        }
        header .nav1 a {
            font-weight: 400;
            padding: 3px;
        }
        .main2 #section2 .btn-main2{
            margin-left: 50px;}
            #section .quets span{
                font-size: 1em;
            }
            footer .message {
                margin-left: 0;
            }
            footer div span{
            font-size: 1.25em;
        }
        .main #section {
            padding: 75px 30px 0px 15px;

    }
    @media (max-width:335px) {
      
        .main2 #section2 .btn-main2 {
            margin-left: 10px;
        }
    }
}